lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.DS_STORE

pids
logs
results
node_modules
bower_components
lib/public/css/*.css
lib/public/css/*.map
lib/public/js/*.js
lib/demos/filesystem/excercise/*.txt
