#library {
  width: 600px;
  height: 350px;
  background-color: #0000ff;
}
#library #door {
  margin-top: 270px;
  width: 80px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ff0000;
}

.book {
  width: 30px;
  height: 60px;
  background-color: cyan;
}
