<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
		<title>{{title}}</title>
		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/positioning.css">
		<link rel="stylesheet" href="css/style.css">

		<!-- jQuery and external JavaScript -->
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/script.js"></script>
	</head>
	<body>
		{{{body}}}
	</body>
</html>
